@import 'variables';
@import 'fonts';


.homepage,
.gamestory,
.easter-eggs,
.features,
.contact {
    width: 100%;
    height: 100vh;
}

h3 {
    font-size: 1.2rem;
    font-family: 'Acme', sans-serif;
}

.gamestory {
    background-color: $color_dark_blue;

    p, h3 {
        color: white;
    }
}

.features {

}

.easter-eggs {
    background-color: $color_dark_green;

    p, h3 {
        color: white;
    }
}

.contact {
    background-color: $color_dark_grey;

    p, h3 {
        color: white;
    }
}
