@import 'variables';
@import 'fonts';


.homepage,
.gamestory,
.easter-eggs,
.features,
.contact {
    min-height: 100vh;

    @media (min-width: 1280px) {
        width: 100%;
        height: 100vh;
    }
}

.transition {
    min-height: 100vh;
    background-color: black;
}

.web_container {
    background-color: black;

    .backToTopBtn {
        position: fixed;
        bottom: 50px;
        right: 40px;
        background-color: white;
        opacity: 0.7;
        border-radius: 100px;
        padding: 20px;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        @media (max-width: 768px) {
            padding: 10px;
            right: 22px;
            bottom: 30px;
        }
    }
}

.videotrailer {
    .skip-button {
        height: 40px;
        background-color: black;
        opacity: .5;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            position: relative;
        }
    }

    /*VIDEO TRAILER */
    iframe {
        width: 100%;
        height: 100vh;

        @media (max-width: 768px) {
            height: calc(100vh - 40px);
        }
    }
}

h3 {
    font-size: 1.2rem;
    font-family: 'Acme', sans-serif;
}

.gamestory {
    background-color: $color_dark_blue;

    p, h3 {
        color: white;
    }
}

.slide-in-animation {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      top: 50vh;
    }
  
    to {
      top: 0;
    }
}

.show-animation {
    animation-duration: 2s;
    animation-name: show;
}

@keyframes show {
    from {
      display: none;
    }
  
    to {
      display: block;
    }
}


.increaseOpacity-transition {
    animation-duration: 1s;
    animation-name: opacity-up;
}

@keyframes opacity-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}


.features {
    background-color: white;

    .features-container {
        gap: 20px;
    }

    .feature {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color_dark_blue;
        color: white;

        &.feature-hover {
            background-color: $color_orange;
            color: $color_dark_blue;
        }
    }
}

.easter-eggs {
    background-color: $color_dark_green;

    p, h3 {
        color: white;
    }
}

.contact {
    background-color: $color_dark_grey;

    p, h3 {
        color: white;
    }
}


